      body
    {
     margin: 0;
     padding: 0;
     padding-top: 30px;
     text-align: center;
    }
      body img {
     border: 0px;
    }
    
    #centered
    {
     width: 974px;
     text-align: left;
     border: 0px;
     padding: 0;
     margin: 0 auto;
    } 
  
    .taobao_desc {
    width: 974px;
    text-align: left;
    padding-left: 0px;
    color: #6D6D6D;
    font-size: 11pt;
     }
     
    .taobao_desc .header {
    color: #000000;
    font-weight: bold;
    font-style: oblique;
    
     }
     
    .taobao_desc .header_faq {
    color: #f5a73b;
    font-weight: bold;
    font-style: oblique;
    
     }
     
    .taobao_desc .p_faq {
    width: 950px;
    color: #000000;
    font-style: oblique;
     }
     
    #menu {
      position: relative;
      float: right;
      color: #000000;
      padding-top: 10px;
      text-align: right;
      font-size: 12pt;
      font-style: oblique;
      word-spacing: 30px;

    }
    
    #menu a {
       text-decoration: none;
       color: #000000;
    }
    
    #menu a:hover {
       text-decoration: underline;
    }
    #menu .selected {
       text-decoration: none;
       color: #f2a93a;
    }
    
    #recent_sells {
       height: 115px;
    }
     
    #three_steps {
    width: 973px;
    background-color: #f2f2f2;
    color: #000000;
    height: 530px;
    border-top: dashed 1px grey;
    border-bottom: dashed 1px grey;
    }
    
    #three_steps .title{
      padding-left: 10px;
      padding-top: 5px;
      font-size: 11pt;
    }

    
div.send_btn {
height: 18px;
width: 61px;
margin:0;
padding:0;
background-image:url("images/send_btn_over.jpg");
}

div.send_btn a, div.send_btn a:link, div.send_btn a:visited {
display:block;
}

div.send_btn img {
width:100%;
height:100%;
border:0;
}

div.send_btn a:hover img {
visibility:hidden;
}
  
.button {
    font-size: 9pt;
    color: white;
    border-bottom: 1px solid #ff8800;
    border-right: 1px solid #ff8800;
    background: #ffb200;
}

.button:hover {
    background: #ff9e00;
}    
    
#aboutus{
  background: #f2f2f2;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 905px;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 11pt;
  padding-top: 30px;
  padding-bottom: 30px;
-moz-box-shadow: 3px 3px 14px #eaeaea;
-webkit-box-shadow: 3px 3px 4px #f00;
box-shadow: 3px 3px 14px #eaeaea;
}

#aboutus p{
padding-left: 20px;
padding-right: 40px;
}

/* Footer */

#footer {
	height: 30px;
	margin: 0 auto;
        margin-top: 30px;
        padding-top: 20px;
	padding: 0px 0 15px 0;
	background: #ffffff;
        border-top: solid 1px #e2e2e2;
	font-family: Arial, Helvetica, sans-serif;
	 clear: both;
         overflow: hidden;
         position: relative;
}

#footer p {
	margin: 0;
	padding-top: 0px;
	line-height: normal;
	font-size: 10pt;
	/*text-transform: uppercase;*/
	text-align: left;
	color: #7C7C7C;
}

#footer a {
	color: #7C7C7C;
}

#legal {	
    float: left;
    height: 20px;
    line-height: 8px;
    margin: 10px 0 0 0px;
    padding-left: 20px;
    width: 230px;
}

#legal_ie {
    float: left;
    height: 20px;
    line-height: 8px;
    margin: 10px 0 0 0px;
    padding-left: 180px;
    width: 230px;
}
.social {
    float: right;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
    width: 125px;
    font-size: 10pt;
    border-right: 1px solid #e2e2e2;
}

.social img{
	padding-right: 5px;
	border: 0px;
	
}

#skype{
    float: right;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 25px;
    width: 155px;
    font-size: 10pt;
    color: #f4a73b;
    font-style: italic;
}

#skype a{
text-decoration: none;
  color: #f4a73b;
}

#skype img{
  padding-left: 10px;
	padding-right: 5px;
        padding-top: 10px;
        margin-top: 5px;
        margin-bottom: -5px;
	border: 0px;	
}